<header>
<nav class="nav nav--active">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="" class="nav__link" routerLink="about">
        <div class="nav__thumb color1" data-letter="a"></div>
        <p class="nav__label">About</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" routerLink="art-item1">
        <div class="nav__thumb color2" data-letter="c"></div>
        <p class="nav__label">Circle</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" routerLink="art-item2">
        <div class="nav__thumb color3" data-letter="s"></div>
        <p class="nav__label">Square</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" routerLink="art-item3">
        <div class="nav__thumb color4" data-letter="l"></div>
        <p class="nav__label">Lines</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" routerLink="art-more">
        <div class="nav__thumb color5" data-letter="m"></div>
        <p class="nav__label">More</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" routerLink="contact">
        <div class="nav__thumb color6" data-letter="c"></div>
        <p class="nav__label">Contact</p>
      </a>
    </li>
  </ul>
  <div class="burger burger--close">
    <div class="burger__patty"></div>
  </div>
</nav>
</header>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <div class="page">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</main>

